<div class="app">
    <h1 class="app--title">hello there</h1>
    <div ng-repeat="user in vm.users" class="user">{{user.name}}</div>
    <div class="app--image"></div>

    <div class="app--flex">
        <div class="app--flex-item">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, ipsum!</div>
        <div class="app--flex-item">Facere quasi voluptate dicta nostrum natus debitis aliquam consequatur aut?</div>
        <div class="app--flex-item">Provident assumenda officia omnis debitis unde accusamus, repudiandae nostrum officiis!</div>
        <div class="app--flex-item">Aliquid ab expedita odio porro quae eos eius laboriosam fuga.</div>
    </div>
</div>
