.app {
    padding: 20px;

    &--title {
        margin-bottom: 20px;
    }

    &--image {
        width: 200px;
        height: 200px;
        background-image: url("./assets/img/1.jpg");
    }

    &--content {
    }

    &--animation {
        transform: translate(-50%, -10%);
        transition: 0.1s;
    }

    &--flex {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;

        width: 100%;
        max-width: 100%;
    }
    &--flex-item {
        min-width: 0;
        max-width: 200px;
    }
}
